:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #ececec;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgray;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(112, 112, 112);
}
