@import "../../style.scss";

.rightbar {
    @include themify($themes) {
        position: sticky;
        top: 60px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        background-color: themed("bg");
        color: themed("textColor");
        min-width: 30%;

        &::-webkit-scrollbar {
            display: none;
        }

        @include tablet {
            display: none;
        }

        .container {
            padding: 20px;
            background-color: themed("bg");

            .item {
                border: 1px solid themed("border");
                background-color: themed("bgSoft");
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 10px;

                span {
                    color: themed("textColorSoft");
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;

                    .userInfo {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;

                        img {
                            min-width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .online {
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            background-color: limegreen;
                            border: 2px solid themed("bgSoft");
                            position: absolute;
                            top: 0;
                            left: 30px;
                        }

                        p {
                            font-size: 0.9rem;
                            display: flex;
                            flex-direction: column;
                        }

                        span {
                            font-weight: 500;
                        }
                    }

                    .user-time {
                        font-size: 0.9rem;
                        overflow-x: auto;
                        min-width: 70px;

                        &::-webkit-scrollbar {
                            background-color: white;
                            height: 5px;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: white;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #cecece;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            border: none;
                            padding: 5px 10px;
                            color: white;
                            cursor: pointer;
                            border-radius: 2px;

                            &:first-child {
                                background-color: themed("buttonBlue");
                                &:hover {
                                    background-color: themed("buttonBlueSoft");
                                }
                            }

                            &:last-child {
                                background-color: themed("buttonRed");
                                &:hover {
                                    background-color: themed("buttonRedSoft");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
