@import "../../style.scss";

.navbar {
    @include themify($themes) {
        position: sticky;
        z-index: 100;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 60px;
        border-bottom: 1px solid themed("border");
        background-color: themed("bg");
        color: themed("textColor");

        @include mobile {
            position: fixed;
            z-index: 100;
            top: auto;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            height: 60px;
            border-bottom: 1px solid themed("border");
            background-color: themed("bg");
            color: themed("textColor");
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .home-link {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;
                color: themed("logo");

                &:hover {
                    cursor: pointer;
                    background-color: themed("bgSoft");
                }
            }

            .theme {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding: 3px;

                &:hover {
                    cursor: pointer;
                    background-color: themed("bgSoft");
                }
            }

            span {
                font-size: 20px;
                font-weight: bold;
                color: themed("logo");
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                background-color: themed("bgSoft");
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    width: 500px;
                    padding: 2px;
                    background-color: inherit;
                    color: themed("textColor");

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
}
